import 'package:flutter/material.dart';
import 'package:flutter_bloc/flutter_bloc.dart';

import 'bloc/{{.Name | toSnake}}_bloc.dart';

class {{.Name | toPascal}}Page extends StatelessWidget {
  const {{.Name | toPascal}}Page({super.key});

  @override
  Widget build(BuildContext context) {
    return BlocProvider<{{.Name | toPascal}}Bloc>(
      create: (BuildContext context) {
        return {{.Name | toPascal}}Bloc();
      },
      child: const Scaffold(body: SafeArea(child: Placeholder())),
    );
  }
}